@import "../node_modules/@baklavajs/plugin-renderer-vue/dist/styles/variables.scss";

$color-node-background: rgba(255, 255, 255, 0.6);
$color-node-foreground: rgba(252, 252, 252, 0);
$color-node-title-background: rgba(255, 255, 255, 0);
$color-node-title-foreground: rgb(0, 0, 0);

$color-connection-default: blue;

@import "../node_modules/@baklavajs/plugin-renderer-vue/dist/styles/styles.scss";